In [ ]:
-- 1. Contar filas en la tabla alumno
SELECT COUNT(*) FROM alumno;

In [ ]:
-- 2. Mostrar las primeras 5 filas de curso
SELECT * FROM curso LIMIT 5;

In [ ]:
-- 3. Ver los alumnos que no están asignados a ningún proyecto
SELECT a.*
FROM alumno a
LEFT JOIN alumno_proyecto ap ON a.id_alumno = ap.id_alumno
WHERE ap.id_alumno IS NULL;

In [ ]:
-- 4. Listar proyectos y cuántos alumnos participan en cada uno
SELECT p.id_proyecto, p.descripcion, COUNT(ap.id_alumno) AS num_alumnos
FROM proyecto p
LEFT JOIN alumno_proyecto ap ON p.id_proyecto = ap.id_proyecto
GROUP BY p.id_proyecto, p.descripcion;

In [ ]:
-- 5. Mostrar los cursos que tiene cada profesor (tabla profesor_curso)
SELECT pc.id_staff, pc.id_curso
FROM profesor_curso pc
LIMIT 10;

In [ ]:
-- 6. Listar todos los campus disponibles
SELECT * FROM campus;

In [ ]:
-- 7. Contar cuántos proyectos hay por vertical
SELECT v.id_vertical, v.descripcion, COUNT(p.id_proyecto) AS proyectos_totales
FROM vertical v
LEFT JOIN proyecto p ON v.id_vertical = p.id_vertical
GROUP BY v.id_vertical, v.descripcion;